.contact {
    padding: 100px 0;
    border-top: 1px solid rgba(37, 37, 37, 1);
    background-color: $ui-bg-color;

    .container {
        display: flex;

        @media (max-width:$ui-breakpoint--xl) {
            display: block;
        }
    }

    .contact__left-side {

        padding-right: 170px;

        @media (max-width:$ui-breakpoint--xxl) {
            padding-right: 20px;
        }

        @media (max-width:$ui-breakpoint--xl) {
            padding-right: 0px;
        }
    }


    .contact__title {
        font-family: $ui-font-gilroy-light;
        font-size: 155px;
        font-weight: 300;
        line-height: 178.71px;
        text-align: left;
        text-transform: uppercase;
        color: rgba(51, 51, 51, 1);

        @media (max-width:$ui-breakpoint--xl) {
            font-size: 150px;
            font-weight: 300;
            line-height: 172.95px;
            text-align: center;
            padding-bottom: 30px;
        }

        @media (max-width:$ui-breakpoint--md) {
            font-size: 80px;
            font-weight: 300;
            line-height: 92.24px;
            text-align: center;
        }

        @media (max-width:$ui-breakpoint--xs) {
            font-size: 60px;
            line-height: 35.16px;
            text-align: center;
        }
    }

    .contact__text {
        font-family: $ui-font-gilroy-bold;
        font-size: 64px;
        line-height: 75px;
        text-align: left;
        color: rgba(37, 37, 37, 1);
        text-transform: uppercase;
        padding-bottom: 30px;

        @media (max-width:$ui-breakpoint--xl) {
            text-align: center;
        }

        @media (max-width:$ui-breakpoint--md) {
            font-size: 50px;
            line-height: 58.59px;
            text-align: center;
        }

        @media (max-width:$ui-breakpoint--xs) {
            font-size: 40px;
            line-height: 35.16px;
            text-align: center;
        }

    }

    .contact__subtext {
        font-family: $ui-font-gilroy-regular;
        font-size: 34px;
        line-height: 39.84px;
        text-align: left;
        color: rgba(37, 37, 37, 1);
        padding-bottom: 25px;

        @media (max-width:$ui-breakpoint--xl) {
            text-align: center;
        }

        @media (max-width:$ui-breakpoint--md) {
            font-size: 30px;
            line-height: 35.16px;
            text-align: center;
        }

        @media (max-width:$ui-breakpoint--xs) {
            font-size: 20px;
            line-height: 35.16px;
            text-align: center;
        }
    }

    .contact__btn {

        font-family: $ui-font-gilroy-regular;
        font-size: 18px;
        line-height: 21.09px;
        text-align: left;
        background: rgba(37, 37, 37, 1);
        padding: 10px 30px 10px 30px;
        border-radius: 50px;
        color: white;

        @media (max-width:$ui-breakpoint--xl) {
            margin: 0 auto;
            display: block;
        }

        @media (max-width:$ui-breakpoint--md) {
            padding: 20px 30px;
            width: 100%;
            text-align: center;
        }
    }


    .contact__btn-img {
        position: relative;
        left: 10px;
        top: 3px;
    }
}