.dianne-russel {
    margin-top: 30px;
    margin-bottom: 40px;
    height: auto;

    @media (min-width: 768px) and (max-width: 1200px) {
        height: auto;
    }

    @media (min-width: 320px) and (max-width: 768px) {
        height: auto;
        margin-bottom: 20px;
    }

    &__contant {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

 

    &__title {
        display: block;
        // height: 171px;
        color: #252525;
        text-align: center;
        font-family: "Gilroy";
        font-size: 150px;
        font-weight: 600;
        text-transform: uppercase;

        @media (min-width: 768px) and (max-width: 1200px) {
            font-size: 113px;
            // height: 96px;
        }

        @media (min-width: 320px) and (max-width: 768px) {
            font-size: 57px;
            // height: 65px;
        }
    }

    &__second-title {
        // height: 171px;
        display: block;
        text-align: center;
        font-family: $ui-font-gilroy-light;
        font-size: 150px;

       @media (min-width: 768px) and (max-width: 1200px) {
        font-size: 113px;
        // height: 96px;
       }

       @media (min-width: 320px) and (max-width: 768px) {
         font-size: 57px;
        //  height: 65px;
       }
    }
}