.footer {
    border-top: 1px solid rgba(37, 37, 37, 1);
    background-color: $ui-bg-color;
    padding: 25px 0px;


    @media (max-width:$ui-breakpoint--xl) {
        padding: 49px 0;
    }

    @media (max-width:$ui-breakpoint--xl) {
        padding: 24px 0;
    }

    & .container {
        display: flex;

        @media (max-width:$ui-breakpoint--md) {
            display: block;
        }
    }

    .footer__left-side {
        margin-right: auto;

    }

    .footer__right-side {
        margin-left: auto;

        @media (max-width:$ui-breakpoint--md) {
            display: flex;
            justify-content: center;
        }

    }

    .footer__icons {
        margin-left: 10px;


    }

    .footer__copy-right {
        font-family: $ui-font-gilroy-regular;
        font-size: 18px;
        line-height: 21.09px;
        text-align: left;
        color: rgba(51, 51, 51, 1);

        & span {
            font-family: $ui-font-gilroy-bold;
            font-size: 18px;
            line-height: 21.09px;
            text-align: left;

            @media (max-width:$ui-breakpoint--xs) {
                font-size: 12px;
            }
        }

        @media (max-width:$ui-breakpoint--md) {
            padding-bottom: 20px;
            display: flex;
            justify-content: center;
        }

        @media (max-width:$ui-breakpoint--xs) {
            font-size: 12px;
        }

    }
}