.from-art {
    margin-top: 70px;
    padding-bottom: 70px;
    border-bottom: 1px solid #252525;
    
    @media (min-width: 768px) and (max-width: 1200px) {
     margin-top: 30px;
     padding-bottom: 30px;   
    }
   
    @media (min-width: 320px) and (max-width: 768px) {
     
        margin-top: 30px;
        padding-bottom: 30px;
    }

    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: center;

        @media (min-width: 768px) and (max-width: 1200px) {
         flex-direction: column;
         gap: 30px;
        }
             
        @media (min-width: 320px) and (max-width: 768px) {
            flex-direction: column;
            gap: 30px;  
        }
        

    }

    &__contant {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        // margin-left: 70px;
        
        @media (min-width: 768px) and (max-width: 1200px) {
         justify-content: center;   
         margin: 0 30px;
        }
          
        @media (min-width: 320px) and (max-width: 768px) {
            justify-content: center;   
        }
    }

    &__text {
        display: block;
        max-width: 1295px;
        color: #252525;
        font-family: $ui-font-gilroy-regular;
        font-size: 62px;
        font-weight: 300;
        // padding-left: 70px;
        // padding-right: 70px;

        @media (min-width: 768px) and (max-width: 1200px) {
         text-align: center;
         max-width: 930px;
         font-size: 52px;       
        }
    
        @media (min-width: 320px) and (max-width: 768px) {
            text-align: center;
            max-width: 438px;
            font-size: 30px; 
        }
    }

    &__span {
        color: #252525;
        font-family: "Gilroy";
        font-size: 62px;
        font-weight: 800;

        @media (min-width: 768px) and (max-width: 1200px) {
            font-size: 52px;       
        }
       
        @media (min-width: 320px) and (max-width: 768px) {
               font-size: 30px; 
           }
    }

    &__about-wrapper {
        display: flex;
        width: 100%;
        height: 232px;
        max-width: 485px;
        padding: 60px 70px 60px 0px;
        flex-direction: column;
        align-items: flex-end;
        gap: 30px;
        background: #252525;
        margin-left: 70px;
        
        

        @media (min-width: 768px) and (max-width: 1200px) {
         max-width: 991px;
        //  padding: 40px 30px 40px 0px;
         margin: 0;

        }
       
        @media (min-width: 320px) and (max-width: 768px) {
            max-width: 478px;
            // padding: 40px 30px 40px 0px;
            // margin-top: 30px;
         margin: 0;

        }
    }

    &__about-me {
        color: #FFF;
        text-align: right;
        font-family: $ui-font-gilroy-regular;
        font-size: 32px;
        font-weight: 400;
        line-height: 1;
        text-transform: uppercase;
        display: block;

        @media (min-width: 768px) and (max-width: 1200px) {
         font-size: 28px;
         width: 100%;
        }
          
        @media (min-width: 320px) and (max-width: 768px) {
         font-size: 28px;
         width: 100%;
        }
    }

    &__about-social {
        width: 100%;
    }


    &__about-list {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 20px;
        align-self: stretch;
        width: 100%;
    }
}