.header {
    width: 100%;
    height: 101px;
    padding-bottom: 30px;
    margin-top: 40px;

    // @media (min-width: 768px) and (max-width: 1200px) {
    
    // }

    @media (min-width: 320px) and (max-width: 768px) {
        width: 100%;
        height: 35px;
        padding: 0;
    }

    &__contant {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__logo {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 10px;
    }

    &__texts {
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;

        @media (min-width: 320px) and (max-width: 768px) {
           display: none;
        }
    
    }

    &__logo-text {
        color: #000;
        font-family: "Gilroy";
        font-size: 35px;
        font-weight: 500;
        letter-spacing: -0.7px;
        text-transform: uppercase;
    }

    &__span {
        color: #000;
        text-align: center;
        font-family: "Gilroy";
        font-size: 35px;
        font-weight: 800;
        letter-spacing: -0.7px;
    }

    &__specsymbol {
        color: #000;
        font-family: "Gilroy";
        font-size: 25px;
        font-weight: 300;
        align-self: flex-start;
    }

    &__btn {
        display: flex;
        padding: 20px 0px;
        justify-content: center;
        align-items: flex-start;
        color: #252525;
        text-align: center;
        font-family: "Gilroy";
        font-size: 25px;
        font-weight: 600;
        background-color: #00000000;

        @media (min-width: 320px) and (max-width: 768px) {
           padding: 0;
         }
    }
}



