.logotypes {
    border-bottom: 1px solid #252525;
    height: auto;

    @media (min-width: 768px) and (max-width: 1200px) {
    //  height: 240px;
    }

    @media (min-width: 320px) and (max-width: 768px) {
    // height: 430px;
    }

    &__list{
        width: 100%;
        display: flex;
        padding: 70px;
        justify-content: center;
        align-items: center;
        gap: 40px;

        @media (min-width: 768px) and (max-width: 1200px) {
            padding: 40px 30px;
            gap: 20px;
            align-items: flex-start;
            align-content: flex-start;
            flex-wrap: wrap;
        }
    
        @media (min-width: 320px) and (max-width: 768px) {
            padding: 30px 20px;
            gap: 20px;
            align-items: flex-start;
            align-content: flex-start;
            flex-wrap: wrap;
        }
    }

    // &__list {
    //     display: grid;
    //     grid-template-columns: repeat(7 ,1fr);
    //     gap: 40px;
    // }

    &__item{
        width: max-content;
        display: flex;
        height: 70px;
        padding: 15px 40px;
        flex-direction:column;
        justify-content: center;
        align-items:center;
        // gap: 10px;
        border-radius: 50px;
        background: #FFF;
    }

    &__img_1 {
       width: 149px;
     
       @media (min-width: 768px) and (max-width: 1200px) {
     }

     @media (min-width: 320px) and (max-width: 768px) {
       
     }
    }
}