.my-clients {

    border-top: 1px solid rgba(37, 37, 37, 1);
    background-color: $ui-bg-color;

    .my-clients__title {
        font-family: $ui-font-gilroy-light;
        font-size: 212px;
        font-weight: 300;
        line-height: 244.44px;
        letter-spacing: 0.04em;
        text-align: center;
        color: rgba(37, 37, 37, 1);
        text-transform: uppercase;
        padding-top: 30px;
        padding-bottom: 50px;

        @media (max-width: $ui-breakpoint--xl) {
            font-size: 150px;
            font-weight: 300;
            line-height: 172.95px;
        }

        @media (max-width: $ui-breakpoint--md) {
            font-size: 80px;
            font-weight: 300;
            line-height: 92.24px;
        }

        @media (max-width: $ui-breakpoint--md) {
            font-size: 40px;
            font-weight: 300;
            line-height: 36px;
        }
    }

    .my-clients__cards-wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);

        @media (max-width: $ui-breakpoint--xl) {
            grid-template-columns: repeat(1, 1fr);
            row-gap: 15px;
        }
    }

    .my-clients__card {
        position: relative;

        &:nth-child(1) {
            border-bottom: 1px solid rgba(0, 0, 0, 1);
        }

        &:nth-child(2) {
            border: 1px solid rgba(0, 0, 0, 1);
            border-top: none;
        }

        &:nth-child(3) {
            border-bottom: 1px solid rgba(0, 0, 0, 1);
        }

        &:nth-child(5) {
            border: 1px solid rgba(0, 0, 0, 1);
            border-top: none;
            border-bottom: none;
        }


        @media (max-width: $ui-breakpoint--xl) {
            border-bottom: 1px solid rgba(0, 0, 0, 1);

            &:nth-child(1),
            &:nth-child(2),
            &:nth-child(3),
            &:nth-child(5) {
                border: none;
                border-bottom: 1px solid rgba(0, 0, 0, 1);
            }

            &:nth-child(6) {
                border: none;
            }
        }
    }

    .my-clients__card-title {
        font-family: $ui-font-gilroy-bold;
        font-size: 40px;
        font-weight: 800;
        line-height: 44px;
        text-align: left;
        color: rgba(51, 51, 51, 1);
        padding-bottom: 20px;

        @media (max-width: $ui-breakpoint--md) {
            font-size: 40px;
            font-weight: 800;
            line-height: 44px;
        }
    }

    .my-clients__card-icon {
        padding-bottom: 20px;
    }

    .my-clients__card-content {
        padding: 25px;
        padding-bottom: 60px;
        max-width: 507px;

        @media (max-width: $ui-breakpoint--xl) {
            max-width: none;

        }
    }

    .my-clients__card-text {
        font-family: $ui-font-inter;
        font-size: 20px;
        font-weight: 400;
        line-height: 30px;
        text-align: left;
        padding-bottom: 100px;
        max-width: 500px;

        @media (max-width: $ui-breakpoint--xl) {
            max-width: none;
            padding-bottom: 80px;
        }

        @media (max-width: $ui-breakpoint--md) {
            font-size: 20px;
            font-weight: 400;
            line-height: 30px;
        }
    }

    .my-clients__card-all-info {
        display: flex;
        position: absolute;
        bottom: 60px;


        @media (max-width: $ui-breakpoint--xl) {
            bottom: 40px;
        }
    }

    .my-clients__card-all-info-text {
        padding: 10px;
        padding-left: 20px;
    }

    .my-clients__card-all-info-name {
        font-family: $ui-font-inter;
        font-size: 20px;
        font-weight: 600;
        line-height: 20px;
        text-align: left;
        padding-bottom: 8px;
    }

    .my-clients__card-all-info-profesion {
        font-family: $ui-font-inter;
        font-size: 20px;
        font-weight: 400;
        line-height: 20px;
        text-align: left;
    }

}