.our-team {
    margin-top: 50px;
    margin-bottom: 50px;
    border-top: 1px solid #252525;

    @media (min-width: 768px) and (max-width: 1200px) {
        margin-top: 30px;
        margin-bottom: 50px;
    }
    
    @media (min-width: 320px) and (max-width: 768px) {
        margin-top: 30px;
        margin-bottom: 50px;
    }


    &__title {
        font-family: $ui-font-gilroy-light;
        font-size: 212px;
        letter-spacing: 8.48px;
        text-transform: uppercase;
        text-align: center;       
        
        @media (min-width: 768px) and (max-width: 1200px) {
            font-size: 150px;
        }
        
        @media (min-width: 320px) and (max-width: 768px) {
            font-size: 80px;
        }
    }

    &__cards-wrapper {
        margin-top: 50px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, auto);
        gap: 40px 30px;

        @media (min-width: 768px) and (max-width: 1200px) {
            margin-top: 30px;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(4, auto);
            gap: 40px 30px;
        }
        
        @media (min-width: 320px) and (max-width: 768px) {
            margin-top: 30px;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(4, auto);
            gap:30px;

        }
    }

    
}

.card {
    display: flex;
    width: 100%;
    padding: 30px 0px;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;

    @media (min-width: 768px) and (max-width: 1200px) {
        width: 100%
    }
    
    @media (min-width: 320px) and (max-width: 768px) {
        width: 100%
        // padding: 20px 0px;
    }
  
    // &__link-wrapper {
    //     width: 100%;
    //     display: flex;
    //     flex-direction: column;
    //     align-items: flex-end;
    //     gap: 15px;
    // }

    &__link{
        width: 100%;
    }

    &__link-texts {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 5px;

        @media (min-width: 768px) and (max-width: 1200px) {
          
    
        }
        
        @media (min-width: 320px) and (max-width: 768px) {
            // align-items: center;
            // justify-content: center;
    
        }
    }

    &__title {
        display: block;
        width: 100%;
        color: #333;
        font-family: "Gilroy";
        font-size: 30px;
        font-weight: 800;
        text-transform: uppercase;

        @media (min-width: 320px) and (max-width: 768px) {
            text-align: center;
    
        }
    }

    &__info {
        display: block;
        width: 100%;
        color: #333;
        font-family: $ui-font-gilroy-regular;
        font-size: 20px;
        font-weight: 400;

        @media (min-width: 320px) and (max-width: 768px) {
            text-align: center;
    
        }
    }

    &__img-link {
        width: 100%;
    }

    &__image {
        min-width: 415px;
        width: 100%;

        height: 507px;
        background: url(../images/team-member-1.jpg) lightgray 50% / cover no-repeat;
        object-fit: contain;
        align-self: center;

        @media (min-width: 768px) and (max-width: 1200px) {
            min-width: 446px;
            height: 507px;
    
        }
        
        @media (min-width: 320px) and (max-width: 768px) {
            min-width: 438px;
            height: 507px;
    
        }
    }

    &__image_darcel {
        min-width: 415px;
        width: 100%;
        height: 507px;

        background: url(../images/team-member-2.jpg) lightgray 50% / cover no-repeat;
        object-fit: contain;
        align-self: center;

        @media (min-width: 768px) and (max-width: 1200px) {
            min-width: 446px;
            height: 507px;
    
        }
        
        @media (min-width: 320px) and (max-width: 768px) {
            min-width: 438px;
            height: 507px;
    
        }
    }

    &__image_brittni {
        min-width: 415px;
        width: 100%;
        height: 507px;

        background: url(../images/team-member-3.jpg) lightgray 50% / cover no-repeat;
        object-fit: contain;
        align-self: center;

        @media (min-width: 768px) and (max-width: 1200px) {
            min-width: 446px;
            height: 507px;
    
        }
        
        @media (min-width: 320px) and (max-width: 768px) {
            min-width: 438px;
            height: 507px;
    
        }
    }

    &__image-roselle {
        min-width: 415px;
        width: 100%;
        height: 507px;

        background: url(../images/team-member-4.jpg) lightgray 50% / cover no-repeat;
        object-fit: contain;
        align-self: center;

        @media (min-width: 768px) and (max-width: 1200px) {
            min-width: 446px;
            height: 507px;
    
        }
        
        @media (min-width: 320px) and (max-width: 768px) {
            min-width: 438px;
            height: 507px;
    
        }
    }

    &__image_jane {
        min-width: 415px;
        width: 100%;
        height: 507px;

        background: url(../images/team-member-5.jpg) lightgray 50% / cover no-repeat;
        object-fit: contain;
        align-self: center;

        @media (min-width: 768px) and (max-width: 1200px) {
            min-width: 446px;
            height: 507px;
    
        }
        
        @media (min-width: 320px) and (max-width: 768px) {
            min-width: 438px;
            height: 507px;
    
        }
    }

    &__image_robert {
        min-width: 415px;
        width: 100%;
        height: 507px;

        background: url(../images/team-member-6.jpg) lightgray 50% / cover no-repeat;
        object-fit: contain;
        align-self: center;   

        @media (min-width: 768px) and (max-width: 1200px) {
            min-width: 446px;
            height: 507px;
    
        }
        
        @media (min-width: 320px) and (max-width: 768px) {
            min-width: 438px;
            height: 507px;
    
        }
    }

    &__social-wrapper{
        width: 100%;
    }

    &__social-list{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 10px;

        @media (min-width: 320px) and (max-width: 768px) {
            justify-content: center;
    
        }
    }
}

.card-texts {
    grid-area: 2 / 3 / 3 / 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 15px;
    flex: 1 0 0;
    align-self: stretch;

    @media (min-width: 768px) and (max-width: 1200px) {
        grid-area: 4 / 1 / 5 / 3;

    }
    
    @media (min-width: 320px) and (max-width: 768px) {
        grid-area:  7;
        align-items: center;

    }
   
    &__title {
        font-family: $ui-font-gilroy-regular;
        font-size: 30px;
        text-transform: uppercase;
    }

    &__info {
        color: #333;
        font-family: "Gilroy";
        font-size: 64px;
        font-weight: 700;
        text-transform: uppercase;

        @media (min-width: 320px) and (max-width: 768px) {
            font-size: 40px;
            text-align: center;
            font-weight: 600;
        }
    }

    &__link {
        display: flex;
        padding: 10px 30px;
        justify-content: center;

        align-items: center;
        gap: 10px;
        border-radius: 50px;
        background: #252525;

        @media (min-width: 320px) and (max-width: 768px) {
         width: 100%;
         justify-content: center;

        }
    }

    &__text {
        color: #FFF;
        font-family: $ui-font-gilroy-regular;
        font-size: 18px;
        font-weight: 400;
        text-transform: capitalize;
    }
}