.photo {
    display: flex;
    align-items: center;
    justify-content: center;

    &__img {
        width: 100%;
        max-width: 1920px;
        height: 956px;
        object-fit: cover;

        @media (min-width: 768px) and (max-width: 1200px) {
         display: none;
        }
    
        @media (min-width: 320px) and (max-width: 768px) {
          display: none;
        }
    }

   &__img-a {
    display: none;

    @media (min-width: 768px) and (max-width: 1200px) {
        display: block;
       }
   
    @media (min-width: 320px) and (max-width: 768px) {
         display: none;
       }
   }

   &__img-b {
    display: none;

    @media (min-width: 768px) and (max-width: 1200px) {
        display: none;
       }
   
       @media (min-width: 320px) and (max-width: 768px) {
         display: block;
       }
   }

}