.selected-work {
    padding-top: 70px;
    margin-bottom: 100px;
    height: auto;
    border-top: 1px solid #252525;

    @media (min-width: 768px) and (max-width: 1200px) {
        padding-top: 30px;
        margin-bottom: 30px;
        height: auto;
    }
    
    @media (min-width: 320px) and (max-width: 768px) {
        padding-top: 30px;
        margin-bottom: 30px;
        height: auto;
    }

    &__title {
        font-family: $ui-font-gilroy-light;
        text-align: center;
        font-size: 212px;
        text-transform: uppercase;
        letter-spacing: 6px;


        @media (min-width: 768px) and (max-width: 1200px) {
            font-size: 150px;

        }
        
        @media (min-width: 320px) and (max-width: 768px) {
            font-size: 80px;
        
        }
    }

    &__cards-wrapper {
        margin-top: 50px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 70px 40px;
        justify-content: center;
        align-items: center;
        margin-bottom: 70px;


        @media (min-width: 768px) and (max-width: 1200px) {
            grid-template-columns: 931px;
            grid-template-rows: repeat(6, auto);
            gap: 30px;
            margin-bottom: 70px;
            margin-top: 30px;
        }
        
        @media (min-width: 320px) and (max-width: 768px) {
            grid-template-columns: 438px;
            grid-template-rows: repeat(6, auto);
            gap: 20px;
            margin-bottom: 40px;
            margin-top: 30px;
        }

        
    }

    &__all-work {
        max-width: max-content;
        display: flex;
        padding: 15px 60px;
        align-items: center;
        gap: 10px;
        border-radius: 50px;
        background: #FFF;
        color: #252525;
        font-family: "Gilroy";
        font-size: 18px;
        font-weight: 500;
        margin: 0 auto;
    }
}

.text-card {
 display: flex;
 width: 100%;
 height: 567px;
 min-width: 567px;
 flex-direction: column;
 justify-content: space-between;

 @media (min-width: 768px) and (max-width: 1200px) {
 height: 209px;

}

@media (min-width: 320px) and (max-width: 768px) {
    min-width: 438px;
    height: 198px;
}


 &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;

    @media (min-width: 320px) and (max-width: 768px) {
        width: 438px;
        
    }
 }

 &__title {
    color: #000;
    font-family: "Gilroy";
    font-size: 40px;
    font-weight: 700;
    line-height: 1.1; 
    text-transform: uppercase;
 }

 &__links-wrapper {
    display: flex;
    align-items: flex-start;
    gap: 30px;
 }
 
 &__link {
    display: flex;
    padding: 15px 30px;
    align-items: center;
    gap: 10px;
    border-radius: 50px;
    background: #FFF;
    color: #252525;
    font-family: "Gilroy";
    font-size: 18px;
    font-weight: 500;
 }

 &__discover-link {
    width: max-content;
    display: flex;
    padding: 10px 30px;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    border-radius: 50px;
    background: #252525;
    align-self: flex-end;

    
 }

 &__discover {
    color: #FFF;
    font-family: "Gilroy";
    font-size: 18px;
    font-weight: 400;
    text-transform: capitalize;
 }
}

.image-card {
    width: 567px;
    height: 567px;
    background-image: url(../images/trinity-work-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    background-position: center;

    @media (min-width: 768px) and (max-width: 1200px) {
     width: 100%;
     height: 921px;
    }

    @media (min-width: 320px) and (max-width: 768px) {
        width: 100%;
        height: 434px;
    }

    &--lotus {
        width: 567px;
        height: 567px;
        background-image: url(../images/trinity-work-2.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        object-fit: cover;
        background-position: center;

        @media (min-width: 768px) and (max-width: 1200px) {
            width: 100%;
            height: 921px;
           }

        @media (min-width: 320px) and (max-width: 768px) {
            width: 100%;
            height: 434px;
        }
    }

    &--rose {
        width: 567px;
        height: 567px;
        background-image: url(../images/morpheus-work-1.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        object-fit: cover;
        background-position: center;

        @media (min-width: 768px) and (max-width: 1200px) {
            width: 100%;
            height: 921px;
           }

        @media (min-width: 320px) and (max-width: 768px) {
            width: 100%;
            height: 434px;
        }
    }

    &--woman {
        width: 567px;
        height: 567px;
        background-image: url(../images/morpheus-work-2.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        object-fit: cover;
        background-position: center;   

        @media (min-width: 768px) and (max-width: 1200px) {
            width: 100%;
            height: 921px;
        }

        @media (min-width: 320px) and (max-width: 768px) {
            width: 100%;
            height: 434px;
        }


    }
}

.first {
    @media (min-width: 768px) and (max-width: 1200px) {
      grid-area: 3;
    }

    @media (min-width: 320px) and (max-width: 768px) {
        grid-area: 3;

    }   
}





