.what-i-do {

    display: flex;
    background-color: $ui-bg-color;


    & .container {
        margin: 0 0;
        margin-right: auto;
    }

    @media (max-width: $ui-breakpoint--xl) {
        display: block;
    }

    .what-i-do__img {
        background-image: url(../images/what-i-do-img.png);
        background-position: left center;
        background-repeat: no-repeat;
        background-position: left top;
        width: 100%;
        height: 1137px;
        max-width: 980px;
        margin-left: auto;

        @media (max-width: $ui-breakpoint--xl) {
            max-width: none;
            width: 100%;
            height: 991px;
            background-size: 100%;
        }

        @media (max-width: $ui-breakpoint--md) {
            height: 478px;
        }


    }

    .what-i-do__content {
        max-width: 940px;
        padding-left: 20px;
    }

    .what-i-do__title {
        color: rgba(37, 37, 37, 1);
        font-family: $ui-font-gilroy-light;
        font-size: 150px;
        font-weight: 300;
        line-height: 173px;
        letter-spacing: 0em;
        text-align: center;
        padding-top: 60px;
        padding-bottom: 80px;
        width: 766px;
        text-transform: uppercase;

        @media (max-width: $ui-breakpoint--xl) {
            width: auto;
        }

        @media (max-width: $ui-breakpoint--lg) {
            font-size: 110px;
            font-weight: 300;
            line-height: 92px;
        }

        @media (max-width: $ui-breakpoint--md) {
            font-size: 80px;
            font-weight: 300;
            line-height: 92px;
        }

        @media (max-width: $ui-breakpoint--sm) {
            font-size: 50px;
            font-weight: 300;
            line-height: 92px;
        }
    }

    .what-i-do__list-content {
        padding: 0;

        .what-i-do__list {
            padding-top: 20px;
            list-style: none;
            border-bottom: 1px solid rgba(37, 37, 37, 1);

            &:last-child {
                border: none;
            }

            &:nth-child(-n + 9) {
                .what-i-do__list-title:before {
                    content: '0' counter(list-item);
                }
            }

            .what-i-do__list-title {
                font-family: $ui-font-gilroy-bold;
                font-size: 44px;
                line-height: 48px;
                letter-spacing: 0em;
                text-align: left;

                &:before {
                    content: counter(list-item);
                    margin-right: 10px;
                    font-family: $ui-font-gilroy-light;
                    font-size: 44px;
                    line-height: 48px;
                    letter-spacing: 0em;
                    text-align: left;

                    @media (max-width: $ui-breakpoint--md) {
                        font-size: 35px;
                        line-height: 41.02px;
                    }
                }


                @media (max-width: $ui-breakpoint--md) {
                    font-size: 35px;
                    line-height: 41.02px;
                }
            }

            .what-i-do__list-text {
                font-family: $ui-font-inter;
                font-size: 20px;
                font-weight: 400;
                line-height: 28px;
                letter-spacing: 0em;
                text-align: left;
                padding-top: 20px;
                padding-bottom: 30px;

                @media (max-width: $ui-breakpoint--md) {
                    font-size: 20px;
                    font-weight: 400;
                    line-height: 28px;
                }
            }
        }
    }

}