* {
  box-sizing: border-box;
}

body {
  font-style: normal;
  line-height: normal;
  background-color: #F5F3EA;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 4;
}


.title {
  color: #252525;
  font-family: "Gilroy";
  font-weight: 300;
  text-transform: capitalize;
}

a {
  text-decoration: none;
}

button {
  border: none;
  cursor: pointer;
}

.container {
  max-width: 1920px;
  padding: 0 70px;
  margin: 0 auto;

  @media (max-width: $ui-breakpoint--xl) {
    max-width: 992px;
    padding: 0 30px;
  }

  @media (max-width: $ui-breakpoint--lg) {
    max-width: 768px;

  }

  @media (max-width: $ui-breakpoint--md) {
    max-width: 576px;
    padding: 0 20px;
  }

  @media (max-width: $ui-breakpoint--sm) {
    max-width: 100%;
  }

}