

$ui-font-gilroy: "Gilroy" ;

$ui-font-gilroy-regular: 'Gilroy-Regular' , sans-serif;
$ui-font-gilroy-bold: 'Gilroy-Bold' , sans-serif;
$ui-font-gilroy-light: 'Gilroy-Light' , sans-serif;
$ui-font-inter: 'Inter' , sans-serif;

$ui-bg-color: rgba(245, 243, 234, 1);


$ui-breakpoint--xxl: 1400px;
$ui-breakpoint--xl: 1224px;
$ui-breakpoint--lg: 992px;
$ui-breakpoint--md: 768px;
$ui-breakpoint--sm: 576px;
$ui-breakpoint--xs: 478px;
